In [1]:
# Load prepped_raw_data.xlsx into a dataframe. First row is header, second row should be skipped.
import pandas as pd

import worldview
from worldview import preprocessor

data_loc = worldview.get_data_dir()
df = pd.read_excel(data_loc / "prepped_raw_data.xlsx", header=0, skiprows=[1])
print(df.head())

           start_date            end_date  age_group  gender transexual  \
0 2025-08-06 12:01:28 2025-08-06 12:22:40          2       2        NaN
1 2025-08-06 12:03:36 2025-08-06 12:22:14          2       1         no
2 2025-08-06 12:03:57 2025-08-06 12:18:21          2       2         No
3 2025-08-06 12:04:04 2025-08-06 12:14:40          5       2        NaN
4 2025-08-06 11:03:51 2025-08-06 12:11:20          1       1        NaN

   ethnicity ethnicity_specify  education education_other  \
0          7               NaN          4             NaN
1          2               NaN          4             NaN
2          7               NaN          4             NaN
3          7               NaN          3             NaN
4          7               NaN          2             NaN

   religious_spiritual_orientation  ... qes9  qes10r  qes11r  qes12  qes13  \
0                                4  ...    5       2       2      5      5
1                                4  ...    3       2       3      4      3
2                                2  ...    5       1       1      5      5
3                                3  ...    2       4       4      3      3
4                                4  ...    5       5       4      4      5

   qes14r  consider_open_inclusive  experience_open_inclusive  \
0       1                        1                          1
1       3                        1                          2
2       1                        1                          1
3       3                        1                          2
4       1                        1                          1

                                          share_text  \
0  I'm fortunate to have had many experiences. I ...
1                                                NaN
2  just meeting people and understanding that we ...
3  Not too much comes to mind but I am an immigra...
4  I feel that it’s just part of the process of g...

   feel_expexperience_changed
0                         1.0
1                         1.0
2                         1.0
3                         2.0
4                         1.0

[5 rows x 124 columns]

In [2]:
df = preprocessor.qes_scores(df)

In [3]:
df = preprocessor.isi_subscale_scores(df)
df.head()

,start_date,end_date,age_group,gender,transexual,ethnicity,ethnicity_specify,education,education_other,religious_spiritual_orientation,...,qes13,qes14r,consider_open_inclusive,experience_open_inclusive,share_text,feel_expexperience_changed,qes_total,isi_diffuse_avoidant_total,isi_informational_total,isi_normative_total
0,2025-08-06 12:01:28,2025-08-06 12:22:40,2,2,NaN,7,NaN,4,NaN,4,...,5,5,1,1,I'm fortunate to have had many experiences. I ...,1.0,61,10,38,12
1,2025-08-06 12:03:36,2025-08-06 12:22:14,2,1,no,2,NaN,4,NaN,4,...,3,3,1,2,NaN,1.0,50,30,33,18
2,2025-08-06 12:03:57,2025-08-06 12:18:21,2,2,No,7,NaN,4,NaN,2,...,5,5,1,1,just meeting people and understanding that we ...,1.0,70,15,40,10
3,2025-08-06 12:04:04,2025-08-06 12:14:40,5,2,NaN,7,NaN,3,NaN,3,...,3,3,1,2,Not too much comes to mind but I am an immigra...,2.0,29,14,23,25
4,2025-08-06 11:03:51,2025-08-06 12:11:20,1,1,NaN,7,NaN,2,NaN,4,...,5,5,1,1,I feel that it’s just part of the process of g...,1.0,49,19,45,20